.container {
    
    background: url("./screen-3.jpg")  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .funcional {
    width: 10%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
  }
 
  .link {
    color: black;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: all 1s ease-in-out;
  }

   .centro{
    justify-content: center;
    justify-items: center;
    width: 75%;
    text-align: center;
   }
  .main {
    height: 81vh;
    justify-content: center;
  }
  
  .footer {
    background: black;
    color: #fff;
    font-weight: lighter;
    padding-left: 10px;
    line-height: 30px;
    height: 30px;
  }
  
  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    height: 370px;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 50px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
  }
  
  .title {
                text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow:0px 5px 10px black;
    text-align: center;
  }

  .titleInfo {
    color: black;
    font-style: oblique;
  }

  .col {
    padding: 50px;
    margin: -30px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    text-align: center;
    height: 330px;
  }

  .img{
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 230px;
    margin: -12px 15px 0px 15px;
  }
  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #fff;
  }
  
  .button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }